@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #00A859;
}
#cabecalho{
    position: fixed;
    display: block;
    background-color: white;
    width: 100%;
    top: 0;
    z-index: 1;
}
#cabecalho #logo{
    position: relative;
    display: block;
    width: 45%;
    margin: 0 auto;
    padding: 5px;
}
#cabecalhoOculto{
    position: relative;
    display: block;
    background-color: red;
    width: 100%;
    visibility: hidden;
}
#cabecalhoOculto #logo{
    position: relative;
    display: block;
    width: 45%;
    visibility: hidden;
    padding: 5px;
}
/*Corpo ------------------------------------------------ */

#contG{
    background-color: white;
    width: 85%;
    display: block;
    position: relative;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 8px;
}
#contG ul{
}
#contG ul li{
    position: relative;
    display: block;
    width: 100%;
    margin: 10px auto;
    border-radius: 10px;
}
#contG ul li img{
    position: relative;
    display: block;
    width: 100%;
}
#contGeral{
    width: 100%;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
}
#contMp{
    background-color: white;
    position: relative;
    display: block;
    width: 85%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
}
#mapsL{
    position: relative;
    display: block;
    width: 100%;
    min-height: 200px;
    border-radius: 10px;
    margin:8px 0;
}
#titMaps{
    position: relative;
    display:block;
    text-align: center;
    margin: 0 auto;
    background-color: #3E4095;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.693);
}
#titMaps h3{
    font-family: sans-serif;
    font-size: 10pt;
    font-weight: bolder;
    color: white;
}
#titM{
    position: relative;
    display:block;
    text-align: center;
    border-radius: 5px;
}
#titM h3{
    font-family: sans-serif;
    font-size: 11pt;
    font-weight: bolder;
    color: rgba(38, 38, 38, 0.864);
}
a{
    text-decoration: unset;
}
footer{
    background-color: #016FB9;
    position: relative;
    display: block;
    padding: 8px;
}
footer h3{
    font-size: 90%;
    font-weight: bolder;
    font-family: sans-serif;
    text-align: center;
    color: white;
}
