@charset "UTF-8";
@font-face {
     font-family: Exotc350 Bd BT Bold;
     src: url('Exotc350 Bd BT Bold.ttf');
}
*{
	margin: 0;
	padding: 0;
}
body{background-color: #00A859;
	position: absolute;
	width: 100%;
	height: 100%;
}
/* Cabecalho -----------------------------------*/
header{background-color:white;
	position: absolute;
	display: block;
	width: 100%;
	height: 10%;
	box-shadow: 2px 5px 10px rgba(0,0,0, .4)
}
header img{
	position: relative;
	display: block;
	background: transparent;
	height: 80%;
	padding:0;
	margin: auto;
	top: 50%;
	transform: translate(0,-50%);
}
/* Cabecalho -----------------------------------*/
/* Corpo ----------------------------------*/
section{
	background-color: white;
	top: 15%;
	position: relative;
	display: block;
	width: 65%;
	margin:  0 auto;
	padding: 1.0%;
	border-radius: 10px;
}
section ul li {
	position: relative;
	display: block;
	list-style: none;
	background: transparent;
	padding: 1.5%;
}
section ul li img{
	position: relative;
	display: block;
	width: 100%;
	background: transparent;
}
section ul{
	background: transparent;
}
iframe{
	width:100%;
	height:100%;
}
.map{
	top: 20%;
	width: 80%;
	height:60%;
}
.sun{
	display: none;
}
